* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Audiowide", sans-serif;
  background-color: #232323;
}

.tittle {
  text-align: center;
  color: rgb(107, 36, 238);
  margin: 2rem;
  font-size: 2.5rem;
}

.nameplayers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.player1 {
  text-align: center;
  font-size: 1.2rem;
  color: white;
}

.player2 {
  text-align: center;
  font-size: 1.2rem;
  color: white;
}

.colorplayers {
  color: rgb(107, 36, 238);
}

input {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: 700;
}

.buttonstart {
  margin: 1.5rem;
  padding: .5rem 10rem;
  border-radius: 0.5rem;
  color: white;
  background-color: #232323;
  border: 2px solid rgb(107, 36, 238);
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Audiowide", sans-serif;
}

.buttonstart:hover {
  filter: brightness(0.8);
}

.subtitle {
  color: white;
  margin-bottom: 1.5rem;
}

#gameBoard {
  background-color: #232323;
  display: grid;
  grid-template-columns: 8rem 8rem 8rem;
  grid-template-rows: 8rem 8rem 8rem;
  gap: .5rem;
  margin-bottom: 1.5rem;
}

#gameBoard span {
  background-color: #666666;
  display: grid;
  place-content: center;
  font-size: 5rem;
}

#gameBoard span:hover {
  filter: brightness(0.8);
}

#gameBoard span.win {
  background-color: #25a340;
}

.top-left {
  border-top-left-radius: 1rem;
}

.top-right {
  border-top-right-radius: 1rem;
}

.bottom-left {
  border-bottom-left-radius: 1rem;
}

.bottom-right {
  border-bottom-right-radius: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

footer {
  padding: 2.5rem;
  color: white;
}